.title {
  font-size: rem(26px);
  font-weight: 900;
  font-family: Greycliff CF, var(--mantine-font-family);
  color: white;
  text-shadow: 10px;
  box-shadow: 10px;
}

.text {
  padding-top: 20px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.705)), /* Black overlay with slight opacity */
    url(https://i.pinimg.com/originals/a3/51/9b/a3519b226385b9b59e734e6dfb9e7b65.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}


.formContainer {
  position: relative;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2); /* Create a translucent border */
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px); /* Safari and iOS support */
  backdrop-filter: blur(5px); /* Adds the blur effect */
  background-color: rgba(255, 255, 255, 0.1); /* Slight background color */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.formContent {
  padding: 20px;
}

.container::before {
  content: ''; /* Required for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px); /* Adjust the blur radius as needed */
  z-index: -1; /* Place the pseudo-element behind the content */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.controls {
  @media (max-width: mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}
